body > * {
    border: 1px solid black;
}
main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: 1px dashed blue;
    gap: 1rem;
    padding: 1rem;
}
body {
    font-family: "Roboto", sans-serif;
}
header {
    padding: 0.5%;
    background-color: rgb(0, 18, 44);
    color: rgb(233, 233, 233);
}
